<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-14">
        <img class="img-responsive" src="img/mainpage_mb6.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name"><h1>{{ site.subtitle }}</h1></span>
          <hr class="star-light" />
            <div class="row">
                <span class="skills">{{ site.skills }}</span>
            </div>
            <div class="row">
                <span class="skillsdetails"> {{ site.skillsdetails }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
