<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-14">
        <img class="img-responsive" src="img/mainpage_mb6.png" alt="profile-pic" />
        <div class="row">
          <div class="intro-text">
            <span class="name"><h2>{{ site.subtitle }}</h2></span>
            <hr class="chevron-light" />
            <div class="row">
                <span class="skills">{{ site.skills }}</span>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <p>Data Engineering, Extract, Transform & Load (ETL) Pipelines, Data Quality and Cleaning, Datasets optimization, No-code App Development in Appsheet.</p>
          </div>
          <div class="col-lg-4">
            <p>Exploratory Data Analysis (EDA), Database queries using SQL, reporting </p>
          </div>
          <div class="col-lg-4">
            <p>Data storytelling through visualisations, interactive dashboards in BI tools like Tableau, Looker BI, Looker Studio, Power BI, Technical project management </p>
          </div>

        </div>
      </div>
    </div>
</header>
