<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-16">
        <img class="img-responsive" src="img/mainpage_mb7.png" alt="profile-pic" />
        <div class="row">
          <div class="intro-text">
            <span class="name"><h2>{{ site.subtitle }}</h2></span>
            <hr/>
          </div>
          <div class="col-md-4">
            <div class="icon-wrapper text-center">
              <i class="fas fa-database fa-3x"></i>
            </div>
            <span class="skills"><h3>Data</h3></span>
            <p class="text-left">Data Quality Checks and Data Cleaning, Datasets optimization, Data Engineering, 
              ETL/ELT Pipelines, No-code App Development in Appsheet</p>
          </div>
          <div class="col-md-4">
            <div class="icon-wrapper text-center">
              <i class="fas fa-magnifying-glass-chart fa-3x"></i>
            </div>
            <span class="skills"><h3>Analysis</h3></span>
            <p class="text-left"> SQL for database queries, Python, Exploratory Data Analysis (EDA), Descriptive Analysis, 
              Diagnostic Analysis, Reporting </p>
          </div>
          <div class="col-md-4">
            <div class="icon-wrapper text-center">
              <i class="fas fa-chart-pie fa-3x"></i>
            </div>
            <span class="skills"><h3>Visualisation and PgM</h3></span>
            <p class="text-left">Data storytelling through visualisations and interactive dashboards in Business Intelligence tools. 
              Technical project/program management, Agile methodology </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
